@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #ffffff;
    /* display: block; */
}
*, ::after, ::before {
    box-sizing: border-box;
}
@media (min-width: 1200px)
.container {
    max-width: 1140px;
}
@media (min-width: 992px)
.container {
    max-width: 960px;
}
@media (min-width: 768px)
.container {
    max-width: 720px;
}
@media (min-width: 576px)
.container {
    max-width: 540px;
}
.container {
    /* width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}
/* For ROW JUSTIFY */
.justify-content-center {
    /* -ms-flex-pack: center!important; */
    justify-content: center!important;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row {
    /* display: -ms-flexbox; */
    display: flex;
    /* -ms-flex-wrap: wrap; */
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
}
/* For COLG LG */
.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
@media (min-width: 992px)
.col-lg-3 {
    /* -ms-flex: 0 0 25%; */
    flex: 0 0 25%;
    max-width: 25%;
}
@media (min-width: 768px)
.col-md-6 {
    /* -ms-flex: 0 0 50%; */
    flex: 0 0 50%;
    max-width: 50%;
}
/* FOR TEDX CONTAINER */
.tedx_container {
    border: 2px solid #ffffff;
    display: flex;
    transition: transform 0.2s;
}
/* FOR IMAGE */
.tedx_container img {
    width: 100%;
    transition: transform 0.2s;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    flex: 33.33%;
    padding: 5px;
}
img {
    vertical-align: middle;
    border-style: none;
}

.heading{
    font-family: 'Lobster', cursive;
    font-size: 400%;
    text-shadow: 100px;
    color: #01fe87;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
    background-position: center;
    background-size: cover;
}
.swiper-container 
{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    position: relative;
    padding-top: 120px;
}

.swiper-slide 
{
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background: #fff;
    box-shadow: #8b8b8b 300px;
}

.contributors
{
    font-family: 'Lobster', cursive;
    font-size: 400%;
    text-shadow: 100px;
    color: #01fe87;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
    background-position: center;
    background-size: cover;
}

.text 
{
    margin: 0;
    padding: 0;
    color: #8b8b8b;
    text-align: center;
    font-size: x-large;
}